
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    background-image: url(piłkan.jpg);
    background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  }
  
  .mobile-container {
    max-width: max px;
    margin: auto;
    background-color: lightseagreen;
    height: 1000px;
    color: lightgoldenrodyellow;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: lightsalmon;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    float: left;
    color: lightcyan;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.icon {
    float: right;
  }
  
  .topnav a:hover {
    background-color: white;
    color: rgb(241, 3, 3);
  }
  
  .active {
    background-color: rgb(255, 1, 39);
    color: rgb(255, 255, 255)
  }
  
  p{
    font-size: 20px;
  }
  .button {
    border-radius: 90px; opacity:0.6;
    background-color: lightgreen;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button5 {
    background-color: greenrgb(0, 255, 157);
    color: blue;
    border: 2px solid violet;
  }
  
  .button5:hover {
    background-color: violet;
    color: lightgreen
  }